# Default ignored files
/workspace.xml
.idea/
.vs/
__pycache__/
venv/
experiments/imdb/age/adapted_semihard/embeddings/facenet/es_128_e_25_bs_66_ts_301564_s_1_as_0_ar_1_ai_0_u_0_fa_1/*

experiments/imdb/age/adapted_semihard/models/facenet/*


experiments/wiki/age/adapted_semihard/embeddings/facenet/es_128_e_5_bs_46_ts_27910_s_1_as_1_ar_0_ai_1_u_0_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/facenet/es_128_e_5_bs_66_ts_20988_s_1_as_1_ar_0_ai_1_u_1_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/facenet/es_128_e_20_bs_66_ts_20988_s_1_as_1_ar_0_ai_1_u_1_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/facenet/es_128_e_20_bs_66_ts_26243_s_1_as_1_ar_1_ai_0_u_0_fa_1/*

experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_64_e_5_bs_32_ts_26919_s_0_as_1_ar_0_ai_0_u_0_fa_0/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_64_e_5_bs_32_ts_26919_s_0_as_1_ar_1_ai_0_u_0_fa_0/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_128_e_5_bs_32_ts_27910_s_1_as_1_ar_1_ai_0_u_0_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_128_e_15_bs_32_ts_26919_s_0_as_1_ar_1_ai_0_u_0_fa_0/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_1024_e_5_bs_32_ts_27910_s_1_as_1_ar_0_ai_0_u_0_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_1024_e_5_bs_32_ts_27910_s_1_as_1_ar_1_ai_0_u_0_fa_1/*
experiments/wiki/age/adapted_semihard/embeddings/vgg16/es_1024_e_15_bs_32_ts_27910_s_1_as_1_ar_1_ai_0_u_0_fa_1/*

experiments/wiki/age/adapted_semihard/models/facenet/*
experiments/wiki/age/adapted_semihard/models/vgg16/*
experiments/wiki/age/adapted_semihard/models/small_cnn/*

experiments/wiki/age/adapted_semihard/models/small_cnn/*

experiments/wiki/age/adapted_semihard/rlc_results/*

experiments/wiki/eigenvalues/adapted_semihard/models/facenet/*